# Ignore EVERYTHING
*

# But not the .gitignore itself
!.gitignore

# Allow only these specific files
!BTCUSD_signal.txt
!XAUUSD_signal.txt
!EURUSD_signal.txt
!AUDUSD_signal.txt
!GBPUSD_signal.txt
!USDCHF_signal.txt
!USDJPY_signal.txt